@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<input id="city" type="text"/>
<input id="btn" type="button" value="Search" onclick="getGeoCoords()" />

<div class="row">
    <div>
        <ul>
            <li class="current-day"><img src="~/images/clear.png" />Today</li>
            <li class="future-day"><img src="~/images/clear.png" />Tomorrow</li>
            <li class="future-day"><img src="~/images/clear.png" />Day 3</li>
            <li class="future-day"><img src="~/images/clear.png" />Day 4</li>
            <li class="future-day"><img src="~/images/clear.png" />Day 5</li>
        </ul>
    </div>
</div>
