@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<input id="city" type="text" />
<input id="btn" type="button" value="Search"/>
<div><p id="result"></p></div>


<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/weather.js"></script>
